<div class="jumbotron">
    @if (User.Identity.IsAuthenticated)
    {
        <h1>Hello @User.Identity.Name!</h1>
    }
    else
    {
        <h1>Hello World!</h1>
    }
    <p class="lead"></p>
    
    @if (!User.Identity.IsAuthenticated)
    {
        <p>
            <a class="btn btn-lg btn-success" asp-controller="Auth" asp-action="SignUp">
                Sign Up
            </a>
        </p>
    }
</div>

<div class="row marketing">
    <div class="col-lg-6">
        <h4>Subheading</h4>
        <p></p>
    </div>

    <div class="col-lg-6">
        <h4>Subheading</h4>
        <p></p>
    </div>
</div>